@model LopHoc

<div class="container">
    <h3>Xem Lớp Học</h3>
    <div asp-validation-summary="All" class="text-danger"> </div>
    <form method="post">
        <div class="form-group">
            <label asp-for="TenLopHoc">Tên Lớp Học</label>
            <input asp-for="TenLopHoc" type="text" class="form-control" />
            <span asp-validation-for="TenLopHoc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NgayNhapHoc">Ngày Nhập Học</label>
            <input asp-for="NgayNhapHoc" type="date" class="form-control" />
            <span asp-validation-for="NgayNhapHoc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NgayRaTruong">Ngày Ra Trường</label>
            <input asp-for="NgayRaTruong" type="date" class="form-control" />
            <span asp-validation-for="NgayRaTruong" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SoLuongSinhVien"> Số Lượng Sinh Viên</label>
            <input asp-for="SoLuongSinhVien" type="text" class="form-control" />
            <span asp-validation-for="SoLuongSinhVien" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Quay Lại</button>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}