<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
</head>
<body>
      <!-- Thanh menu-->
  <div class="wrapper">
   <header class="header">
       <div class="header__container container">
           <div class="menu__icon">
               <span>

               </span>
           </div>
           <div class="header__logo">
                    <a href="/Customer/Home/Index"> <img src="~/img/logo3.png" alt=""></a>
           </div>
           <!-- Thêm mục lục-->
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__item">
                            <a class="header__link" href="/Customer/Home/Index">Trang Chủ</a>
                    </li>
                    <li class="header__item">
                            @await Component.InvokeAsync("TheLoai")
                    </li>
                    
                    <li class="header__item">
                        <a class="header__link" href="#">Thông tin cửa hàng</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="#">Liên lạc</a>
                    </li>
                        <li class="header__item">
                            <a class="header__link" href="/Admin/DonHang/Index"> Đơn Hàng </a>
                        </li>
                </ul>
            </nav>
            <!-- Thêm các trên thanh menu icon-->
            <div class="header__icons">
                    <a href=""><img class="header__lupa" src="~/img/timkiem.png" alt=""></a>
                    <a href="/Customer/GioHang/Index"><img class="header__basket" src="~/img/giohang.png" alt=""></a>
            </div> 
            <div class="header__item">
                    <partial name="_LoginPartial" />
            </div>
            
        </div>
   </header>
       
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer>
      <div class="footer__container container">
                <div class="footer__logo"><img src="~/img/logo3.png" alt=""></div>
       <div class="footer__body">
           <ul class="footer__list">
               <li class="footer__item"><span>Liên hệ</span></li>
               <li class="footer__item">(+84) 000 000 0000</li>
               <li class="footer__item">(+84) 000 000 0000</li>
               <li class="footer__item">Chúng tôi làm việc: <br> 24/7</li>
           </ul>
           <ul class="footer__list">
               <li class="footer__item"><span>Thông tin</span></li>
               <li class="footer__item"> Về cửa hàng</li>
               <li class="footer__item">Đợt giảm giá</li>
               <li class="footer__item">Đánh giá</li>
               <li class="footer__item">Giao hàng và thanh toán</li>
           </ul>
          
           <div class="footer__rightPiece">
                <div class="footer">Điền Email của bạn:</div>
               <form class="footer__button">
                   <input class="footer__addEmail" type="text" placeholder="Nhập e-mail của bạn">
                   <button class="footer__submit" type="button">Đăng kí</button>
               </form>
               <!--Thêm icon-->
               <div class="footer__socials">
                            <a href="#"><img src="~/img/inst.png" alt=""></a>
                            <a href="#"><img src="~/img/fb.png" alt=""></a>
               </div>
               <div class="footer">Cảm ơn đã ủng hộ</div>
           </div>
       </div>
      </div>
   </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/javascript.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
